{% extends 'base.html.twig' %}

{% block title %}Voyages index{% endblock %}

{% block body %}
    <h1>Voyages</h1>
        {% for voyage in voyages %}
        <div>
            <div>
                <h2>{{ voyage.libelle }} --{{ voyage.id }}</h2>
                <a href="{{ path('app_voyages_show', {'id': voyage.id}) }}">show</a>
                <a href="{{ path('app_voyages_edit', {'id': voyage.id}) }}">edit</a>
               <!-- <a href="{{ path('add_etape', {'id': voyage.id}) }}">add Step</a>-->
                <a href="{{ path('app_voyages_new') }}">Add new trip</a>
            </div>
            <div>
                {{ include('voyages/_etapes.html.twig', {'etapes': voyage.getEtapes()}) }}
            </div>
        </div>
        {% endfor %}

    <a href="{{ path('app_voyages_new') }}">Add new trip</a>
{% endblock %}
